.btn {
    display: inline-block;
    padding: 16px 28px;
    margin: 6px 8px;
    text-transform: uppercase;
    background-color: #007BFF;
    font-size: .75rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-count {
    display: inline-block;
    padding: 12px 24px;
    margin: 6px 8px;
    font-size: 1.4rem;
    text-transform: uppercase;
    background-color: #d2d2d2;
    border: 1px solid #000000;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.secondary{background-color: #565e64;}

.btn:disabled{
    opacity: .5; 
}
.btn-count:disabled{
    border: 1px solid #d8d8d8;
    opacity: .5; 
}