
.card-product {
    display: flex;
    flex-direction: column;
    margin:16px 8px;
    padding: .75rem .85rem;
    border: 1px solid #000000;
    background-color: #fff;
    text-align: center;
    width: 320px;
}

h3{margin: 0; line-height: 2rem; font-size: 1.2rem;}