.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #263238;
}

.nav-item{
    display: flex;
    list-style: none;
    font-size: .75rem;

}
.nav-link{
    display: block;
    padding: 0.5rem .35rem;
    margin: 0 .45rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s color ease;
}
.nav-link:hover{color: #fcc922;}
.cart-icon{text-decoration: none; color: #fff;}