/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antonio:wght@100&family=Nunito:wght@300&display=swap');

body {
  font-family: 'Nunito', sans-serif;

} */
    /* font-family: 'Abril Fatface', cursive;
    font-family: 'Antonio', sans-serif;
    font-family: 'Nunito', sans-serif; */
  /* body{font-family: 'Nunito', sans-serif; background-color: #000; color: rgb(212, 212, 212);} */
  h1,h2,h3,h4,h5,h6{font-family: 'Abril Fatface', cursive; color: var(--primary-yellow);}
